<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Laura Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/meuestilo.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Laura
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Menu</a></li>
                <li><a class="nav-link scrollto" href="#about">Sobre nós</a></li>
                <li><a class="nav-link scrollto" href="#services">Resumo</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
                <li><a class="nav-link scrollto " href="/login">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h1><img src="/assets/img/logo.png" alt=""></h1>
            <h2>LAPRODENO</h2>
            <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Me Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 class="section-title2">Sobre Nós</h2>
                    <p><b>Missão:</b> a Laprodeno tem como missão criar sorrisos lindos e naturais, transformando vidas por meio de próteses dentárias inovadoras e de alta qualidade. Nosso compromisso é superar as expectativas dos dentistas e de seus pacientes,
                        oferecendo produtos que restauram a confiança e a alegria de sorrir.</p><br>
                    <p><b>Visão:</b> ser reconhecida como líder no mercado de próteses dentárias, sendo a escolha preferencial dos profissionais da área de odontologia, devido à qualidade excepcional e sorrisos naturais que proporcionamos.</p><br>
                    <p><b>Valores:</b> excelência e inovação, compromisso com a qualidade, parcerias sólidas com os profissionais da área, eficiência e rapidez, integridade, ética e amor pelo sorriso. A Laprodeno acredita que cada sorriso é único e merece
                        a atenção minuciosa e o cuidado especial que oferecemos. Estamos comprometidos em continuar nossa jornada de excelência e inovação para sermos líderes no mercado de próteses dentárias e trazer confiança e alegria para as pessoas
                        através de seus sorrisos.</p><br>
                </div>

                <div class="row">
                    <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                    <div class="col-lg-8 d-flex flex-column align-items-stretch">
                        <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Empresa:</strong> <span>Laprodeno</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Instagram:</strong> <span><a href="https://www.instagram.com/laprodeno?igsh=MTYxcTNIYTJxNWgyaQ==">/laprodeno</a></span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Contato:</strong> <span>(18) 99999-9999</span></li>

                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Cidade:</strong> <span>Paranaíba</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>e-mail:</strong> <span>laprodeno@hotmail.com</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Tempo de mercado:</strong> <span>60 anos</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-n4">
                                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-emoji-smile" style="color: #20b38e;"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
                                        <p><strong>Parceiros satisfeitos</strong> que ampliam redes, somam competências e aceleram resultados empresariais.</p>
                                    </div>
                                </div>

                                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-check-circle-fill" style="color: #a786b8;"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                                        <p><strong>Próteses produzidas</strong> com acesso facilitado, atendimento rápido e melhoria na qualidade de vida dos pacientes.</p>
                                    </div>
                                </div>

                                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-clock" style="color: #2cbdee;"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                                        <p><strong>Agilidade em entrega</strong> garantindo satisfação do cliente, maior competitividade e otimização de recursos.</p>
                                    </div>
                                </div>

                                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-award" style="color: #ffb459;"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="1" class="purecounter"></span>
                                        <p><strong>Premiações</strong> fortalecendo nossa reputação e impulsionando o reconhecimento no mercado.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .content-->



                    </div>
                </div>

            </div>
        </section>
        <!-- End About Me Section -->



        <!-- ======= My Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2 class="section-title2">Porque somos os melhores em proteses do Brasil?</h2>
                    <p>Cuidar da experiência do cliente com o seu negócio é fundamental para o sucesso, afinal, consumidores satisfeitos tendem a retornar e indicar, tendo bom relacionamento, entrega de um serviço de qualidade e rapidez no mesmo, nós da
                        laprodeno garatimos essa experiência, trabalhando e nos aprimorando cada vez mais para a satisfação completa de nossos clientes.</p>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><img src="/assets/img/sucesso.png" class="icones" alt=""></div>
                            <h4 class="title"><a href="tecnicas.html" ; target="_blank">Técnicas</a></h4>
                            <p class="description">Existem algumas técnicas para reposição de um dente natural perdido a indicação depende de cada caso passado, com proteses de qualidade como as nossas independente do caso garantimos um serviço especializado para cada cliente
                                focando na satisfação do mesmo.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><img src="/assets/img/sucesso.png" class="icones" alt=""></div>
                            <h4 class="title"><a href="processos.html" ; target="_blank">Processos</a></h4>
                            <p class="description">Fazemos nossas proteses com o auxilio de maquinario especificos de ultima geração, para uma otima qualidade, junto com anos de experiencia de trabalho garantindo um produto final que satisfaça o cliente e de longa duração.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><img src="/assets/img/sucesso.png" class="icones" alt=""></div>
                            <h4 class="title"><a href="melhorqualidade.html" ; target="_blank">Melhor qualidade</a></h4>
                            <p class="description">Como o melhor produtor de próteses do Brasil, destaco-me por uma combinação única de habilidades, comprometimento e inovação que elevam a qualidade e a eficiência das próteses que desenvolvo. Minha jornada no campo da produção
                                de próteses é marcada pela busca incessante pela excelência e pela paixão em melhorar a vida daqueles que necessitam de soluções personalizadas e avançadas.</p>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        <!-- End My Services Section -->

        <!-- ======= Contact Me Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Entre em contato</h2>
                    <p>Agradecemos por visitar nosso site! Se você tiver alguma dúvida, feedback ou precisar de mais informações, ficaremos felizes em ajudar. Utilize as opções de contato abaixo:</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-share-alt"></i>
                                    <h3>Redes sociais</h3>
                                    <div class="social-links">
                                        <a href="https://www.instagram.com/laprodeno?igsh=MTYxcTNIYTJxNWgyaQ==" class="instagram"><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>E-mail</h3>
                                    <p>laprodeno@hotmail.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Telefone</h3>
                                    <p>(18) 99999-9999</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <form action="" method="post" role="form" class="php-email-form">
                            <div class="form-group mt-3 form-floating" id="grupoNome">
                                <input type="text" onblur="verificarNome(this)" name="nome" class="form-control" id="nome" placeholder="Seu nome" required>
                                <label for="nome">Seu nome</label>
                                <p class="alertaErro alert alert-danger" id="avisoNome"></p>
                            </div>
                            <div class="form-group mt-3 form-floating">
                                <input type="email" onblur="verificarEmail(this)" class="form-control" name="email" id="email" placeholder="Seu E-mail" required>
                                <label for="email">Seu E-mail</label>
                                <p class="alertaErro alert alert-danger" id="avisoEmail"></p>
                            </div>
                            <div class="form-group mt-3 form-floating">
                                <input type="text" class="form-control" onblur="verificarAssunto(this)" name="assunto" id="assunto" placeholder="Assunto" required>
                                <label for="assunto">Assunto</label>
                                <p class="alertaErro alert alert-danger" id="avisoAssunto"></p>
                            </div>
                            <div class="form-group mt-3 form-floating">
                                <textarea class="form-control" name="mensagem" id="mensagem" rows="6" placeholder="mensagem" onblur="verificarMensagem(this)" required="required"></textarea>
                                <label for="mensagem">Mensagem</label>
                                <p class="alertaErro alert alert-danger" id="avisoMensagem"></p>
                            </div>
                            <div class="my-3">
                                <div class="loading">Carregando</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Sua mensagem foi enviada. Agradecemos!</div>
                            </div>
                            <div class="text-center"><button type="submit">Envie a mensagem</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Me Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Laprodeno</h3>
            <p></p>
            <div class="social-links">
                <a href="https://www.instagram.com/laprodeno?igsh=MTYxcTNIYTJxNWgyaQ==" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Laprodeno</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/nosso.js"></script>
</body>

</html>