<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Laura Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/meuestilo.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Laura
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="index.html #hero">Menu</a></li>
        <li><a class="nav-link scrollto" href="index.html #about">Sobre nós</a></li>
        <li><a class="nav-link scrollto" href="index.html #services">Resumo</a></li>
        <li><a class="nav-link scrollto" href="index.html #contact">Contato</a></li>
        <li><a class="nav-link scrollto " href="feedback.html">Feedback</a></li>
        <li><a class="nav-link scrollto active " href="login.html" target="_blank">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

  <section id="login" class="login">
    <div class="container bg-green">
      <div class="section-title">
        <section class="container">
            <div class="container">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">         
                      <h3 class="mb-5">Entrar</h3>         
                      <div class="form-outline mb-4 form-floating">  
                        <input type="email" name="email" onblur="verificarEmail(this)" id="email" placeholder="Informe seu e-mail" class="form-control form-control-lg" required="required"/>      
                        <label class="form-label" for="email">Informe seu e-mail *</label>
                        <p class="alertaErro alert alert-danger" id="avisoEmail"></p>                 
                      </div>          
                      <div class="form-outline mb-4 form-floating">
                        <input type="password" onblur="verificarSenha(this)" name="senha" id="senha" placeholder="Informe sua senha" class="form-control form-control-lg" required="required"/>
                        <label class="form-label" for="senha">Informe sua senha *</label>
                        <p class="alertaErro alert alert-danger" id="avisoSenha"></p>                       
                      </div>          
                      <!-- Checkbox -->
                      <div class="form-check d-flex justify-content-start mb-4">
                        <input class="form-check-input" style="border-color:black" type="checkbox" value="" id="form1Example3" />
                        <label class="form-check-label" for="form1Example3">&nbsp;Lembra senha </label>
                      </div>         
                      <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Conecte-se</button>
                      <p class="text-center text-muted mt-5 mb-0">Não tem uma conta? <a href="cadastro.html" target="_blank"
                        class="fw-bold text-body"><u> Cadastre-se</u></a></p>          
                      <!--<hr class="my-4">          
                      <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                        type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                      <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                        type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>-->         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
           
  </div>

    </div>
  </section><!-- End About Me Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h2 class ="section-title2">Laprodeno</h2>
      <p></p>
      <div class="social-links">
        <a href="https://www.instagram.com/laprodeno?igsh=MTYxcTNIYTJxNWgyaQ==" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Laprodeno</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/nosso.js"></script>
</body>

</html>