<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Laura Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/meuestilo.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Laura
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="index.html #hero">Menu</a></li>
        <li><a class="nav-link scrollto" href="index.html #about">Sobre nós</a></li>
        <li><a class="nav-link scrollto" href="index.html #services">Resumo</a></li>
        <li><a class="nav-link scrollto" href="index.html #contact">Contato</a></li>
        <li><a class="nav-link scrollto " href="feedback.html" target="_blank">Feedback</a></li>
        <li><a class="nav-link scrollto " href="login.html" target="_blank">Login</a></li>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->


  <section id="services" class="services">
    <div class="container centralizar-tudo">

      <div class="section-title centralizar-tudo ">
        <h2 class ="section-title2 ">Melhor Qualidade</h2>
        <p>Como o melhor produtor de próteses do Brasil, destaco-me por uma combinação única de habilidades, comprometimento e inovação que elevam a qualidade e a eficiência das próteses que desenvolvo. Minha jornada no campo da produção de próteses é marcada pela busca incessante pela excelência e pela paixão em melhorar a vida daqueles que necessitam de soluções personalizadas e avançadas.</p>
        <h2 class ="section-title2">Excelência na Produção:</h2>
        <p>Como líder reconhecido no Brasil na produção de próteses, destaco-me por um compromisso inabalável com a excelência. Cada prótese desenvolvida passa por um processo meticuloso, garantindo padrões superiores de qualidade que atendem e frequentemente ultrapassam as expectativas dos pacientes e profissionais de saúde.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/excelencia.webp" alt=""></div>
        <h2 class ="section-title2">Comprometimento com a Inovação:</h2>
        <p>A inovação é um pilar central na minha jornada profissional. Busco constantemente por avanços tecnológicos e novas abordagens na produção de próteses, garantindo que cada dispositivo seja uma síntese de técnicas modernas e soluções inovadoras. Esse comprometimento assegura que minhas próteses estejam na vanguarda do setor.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/inovacao.jpg" alt=""></div>
        <h2 class ="section-title2"> Contribuição para a Qualidade de Vida:</h2>
        <p>Minha paixão pela produção de próteses vai além da técnica; é uma dedicação à melhoria da qualidade de vida. Cada peça desenvolvida é concebida para não apenas restaurar funções, mas para contribuir positivamente para a confiança, o bem-estar emocional e a qualidade de vida daqueles que confiam em meus serviços.
        </p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/qualidade-vida.jpg" alt=""></div>
        <h2 class ="section-title2">Personalização e Soluções Avançadas:</h2>
        <p>Nosso principal objetivo é satisfazer plenamente nossos clientes. Cada prótese é projetada e produzida levando em consideração as necessidades individuais, resultando em um produto final que não apenas restaura funções, mas também proporciona confiança e satisfação estética. A felicidade e a satisfação dos nossos clientes são nosso maior indicador de sucesso.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/personalização.png" alt=""></div>
        <h2 class ="section-title2">Combinação Única de Habilidades:</h2>
        <p>Minha reputação como o melhor produtor de próteses do país é fundamentada em uma combinação única de habilidades. Da escolha de materiais inovadores à aplicação de técnicas de fabricação de última geração, cada prótese reflete meu comprometimento em proporcionar resultados excepcionais por meio de habilidades distintas e especializadas.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/habilidade.jpg" alt=""></div>
      </div>
    </section>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h2 class ="section-title2">Laprodeno</h2>
      <p></p>
      <div class="social-links">
        <a href="https://www.instagram.com/laprodeno?igsh=MTYxcTNIYTJxNWgyaQ==" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Laprodeno</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/nosso.js"></script>
</body>

</html>