<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Laura Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/meuestilo.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Laura
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="index.html #hero">Menu</a></li>
        <li><a class="nav-link scrollto" href="index.html #about">Sobre nós</a></li>
        <li><a class="nav-link scrollto" href="index.html #services">Resumo</a></li>
        <li><a class="nav-link scrollto" href="index.html #contact">Contato</a></li>
        <li><a class="nav-link scrollto " href="feedback.html" target="_blank">Feedback</a></li>
        <li><a class="nav-link scrollto " href="login.html" target="_blank">Login</a></li>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->


  <section id="services" class="services">
    <div class="container centralizar-tudo">

      <div class="section-title centralizar-tudo ">
        <h2 class ="section-title2 ">Processos</h2>
        <p>Fazemos nossas proteses com o auxilio de maquinario especificos de ultima geração, para uma otima qualidade, junto com anos de experiencia de trabalho garantindo um produto final que satisfaça o cliente e de longa duração.</p>
        <h2 class ="section-title2">Tecnologia de Ponta:</h2>
        <p>Na Laprodeno, investimos em maquinário de última geração, utilizando equipamentos específicos que representam o estado da arte na produção de próteses. Essa abordagem tecnológica nos permite atingir níveis superiores de precisão e qualidade, resultando em produtos que refletem os mais altos padrões do setor.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/tecnologia-ponta.jpeg" alt=""></div>
        <h2 class ="section-title2">Compromisso com a Qualidade:</h2>
        <p>Nossa busca incessante pela excelência é evidenciada pelo compromisso com a qualidade em todas as etapas do processo de fabricação. Cada prótese é cuidadosamente elaborada, submetida a rigorosos padrões de controle de qualidade para garantir que atenda e supere as expectativas dos nossos clientes.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/compromisso.jpeg" alt=""></div>
        <h2 class ="section-title2"> Experiência Acumulada:</h2>
        <p>Com anos de experiência no setor, nossa equipe é composta por profissionais experientes e dedicados. A expertise adquirida ao longo do tempo nos permite aprimorar continuamente nossos métodos de trabalho, aplicando conhecimentos consolidados para criar próteses que combinam funcionalidade e estética de maneira excepcional.
        </p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/experiencia.jpg" alt=""></div>
        <h2 class ="section-title2">Satisfação do Cliente:</h2>
        <p>Nosso principal objetivo é satisfazer plenamente nossos clientes. Cada prótese é projetada e produzida levando em consideração as necessidades individuais, resultando em um produto final que não apenas restaura funções, mas também proporciona confiança e satisfação estética. A felicidade e a satisfação dos nossos clientes são nosso maior indicador de sucesso.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/cliente.jpg" alt=""></div>
        <h2 class ="section-title2">Durabilidade Garantida:</h2>
        <p>A longa durabilidade das nossas próteses é uma prioridade inegociável. Além de investir em materiais de alta qualidade, a combinação de tecnologia avançada e anos de experiência resulta em próteses que resistem ao teste do tempo. Nosso compromisso é oferecer soluções duradouras que proporcionem aos clientes a confiança de um sorriso saudável por muitos anos.</p>
        <div class="imagemdadiv"><img class="imgdireita" src="assets/img/durabilidade.jpg" alt=""></div>
      </div>
    </section>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h2 class ="section-title2">Laprodeno</h2>
      <p></p>
      <div class="social-links">
        <a href="https://www.instagram.com/laprodeno?igsh=MTYxcTNIYTJxNWgyaQ==" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Laprodeno</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/nosso.js"></script>
</body>

</html>